<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>

    <title>Index Page</title>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css"/>
    <script type="text/javascript" src="js/lib/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery-ui.min.js"></script>

    <script type="text/javascript" src="js/lib/angular.min.js"></script>
    <script type="text/javascript" src="js/lib/angular-resource.min.js"></script>
    <script type="text/javascript" src="js/lib/angular-route.min.js"></script>
    <script type="text/javascript" src="js/app/app.js"></script>

    <script type="text/javascript" src="js/app/util/pagination-directive.js"></script>

    <script type="text/javascript" src="js/app/spendings/spendings.js"></script>
    <script type="text/javascript" src="js/app/spendings/spending-service.js"></script>
    <script type="text/javascript" src="js/app/spendings/spending-create-ctrl.js"></script>
    <script type="text/javascript" src="js/app/spendings/spending-list-ctrl.js"></script>

</head>
<body>

<div class="ng-include: 'spendings/create-spending-block.html'"></div>

<div class="ng-include: 'spendings/spending-list.html'"></div>

</body>
</html>